.footer {
    background-color: var(--background-dark-color);
  }
  
  .footer__container {
    display: flex;
    flex-direction: column;
    @include tablet {flex-direction: row;
    flex-wrap: wrap;}
   
  }
  
//   Footer logo

  .footer__logo {
    display: block;
    margin-bottom: 20px;
    color: var(--white-color);
    }

    // Footer contacts section
  
    .footer__address {
      padding-top: 60px;
      padding-bottom: 60px;
      display: block;
      text-align: center;
      margin: 0;
      @include tablet {
      width: 232px;
      margin-left: 61px;
      margin-right: 165px;};
      @include desktop {
      width: 231px;
      margin-left: 0;
      margin-right: 70px;
      text-align: left;}
    }
  
   .footer__address-item:not(:last-child) {
      margin-bottom: 9px;
    }
  
    .footer__address-link
    {
      display: block;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
  }
  
  .footer__address-link--street-address {
      color: var(--white-color);
  }
    
  .footer__address-link--contact {
      color: rgba(255, 255, 255, 0.6);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--accent-color);
         }
    }
  
    
  
    // Footer join section
  
  .footer__join {
    display: block;
    margin: 0;
    text-align: center;
    @include tablet {
      padding-top: 65px;
      margin-right: 74px;};
    @include desktop {
      padding-top: 72px;
      margin-right: 93px;};
      }
  
  
  .footer__small-title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--white-color);
    }
  
  .footer__social-item + .footer__social-item {
      margin-left: 10px;
    }
  
  .footer__social-link {
      background-color: rgba(255, 255, 255, 0.1);
      fill: var(--white-color);
      &:hover, &:focus {
        background-color: var(--accent-color);
      }
    }
  
  
//   Footer sign-up section

.footer__signup {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
    text-align: center;

    @include tablet {
      padding-top: 0;
      width: 100%}
    @include desktop {
      padding-top: 72px;
      width: 570px;
      text-align: left;};
     
  }
  
.signup-block {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    display: flex;
    margin-left: 0;}
  }
  
.signup-input {
  width: calc(100vw - 30px);
    @include mobile {
    width: 450px;};
    @include desktop {
    width: 358px;};
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color:var(--white-color);
  padding-left: 16px;
  &::placeholder {
      color:rgba(255, 255, 255, 0.6);
      }
  margin-bottom: 20px;    
  }
  
.signup-button {
      margin-left: auto;
      margin-right: auto;
  }
  
        
.footer__send-icon {
    fill: var(--white-color);
    display: inline-block;
    margin-left: 10px;
  }