.team {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;}
  background-color: var(--background-gray-color);
  }
  
   .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px 0;
    @include tablet {
    margin: -15px;}
    @include desktop {
    margin: 0 -15px}
  }
  
  
  .team__member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 15px 0;
    flex-basis: 100%;
    @include tablet {
      margin: 15px;
      flex-basis: calc((100% - 60px) / 2);}
    @include desktop {
      margin: 0 15px;
      flex-basis: calc((100% - 120px) / 4);}
  }
  
  .team__member-text {
    display: block;
    padding: 30px 30px 24px 30px;
    @include desktop {padding-bottom: 30px;}
  }
  
  .team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    }
  
  .team__job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }

  // Social icons
  
  .team__social-list {
    margin-top: 16px;
    
  }

  .team__social-item + .team__social-item {
    margin-left: 10px;
  }

  .team__social-link {
    background-color: transparent;
    fill: var(--icons-color);
    &:hover, &:focus  {
      background-color: var(--accent-color);
      fill: var(--white-color);}
    }

  