:root {
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --accent-color: #2196f3;
    --accent-secondary-color: #188CE8;
    --white-color: #FFFFFF;
    --background-gray-color: #f5f4fa;
    --background-dark-color: #2f303a;
    --icons-color: #AFB1B8;
  }